* {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header wrap for logo and nav bar */
.site-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    padding-top: 10px;
}

/* Nav bar Flex styling */
.NavBar {
    display: inline-flex;
}

/* logo image size styling */
img {
    height:auto;
    width:15%;
}

/* Nav bar Home item styling*/
.Home {
    align-self: flex-end;
    padding-right: 50px;
}

/* Nav bar About item styling*/
.About {
    align-self: flex-end;
    padding-right: 50px;
    padding-left: 25px;
}

/* Nav bar Contact item styling*/
.Contact {
    align-self: flex-end;
    padding-left: 50x;
}

/* Nav bar items (Home, About & Contact) link styling*/
a:link {
    color: white; /*Makes link text white instead of blue*/
    text-decoration: none; /* Removes the uderline*/
    font-size: medium;
}

/* Mouse over link*/
a:hover {
    color: dimgray;
}

/* Visited or Clicked-on link*/
a:visited {
    color: darkslateblue;
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

header, footer {
    background-color:#1F2937; 
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

